{% extends "layout.html" %}
{% block content %}
    <div class="ui container">
        <div class="ui huge dividing header">
            All Events
        </div>
        <div class="ui very relaxed divided list">
            {% for event in events %}
                <div class="item">
                    <div class="header">
                        {{ event.title }}
                    </div>
                    <div class="content">
                        {{ event.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}