{% extends "layout.html" %}
{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                defaultView: 'dayGridMonth',
                defaultDate: '{{ today }}',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: [
                    {% for eve in allevents %}
                        {
                            title: '{{ eve['title'] }}',
                            start: '{{eve['start_time']}}',
                            end: '{{eve['end_time']}}'
                        },
                    {% endfor %}
                ]
            });

            calendar.render();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}
