{% extends "layout.html" %}
{% block content %}
<div class="ui container">
    <div class="ui large header">
        Welcome to NetPlanner! <i class ="child icon"></i>
    </div>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="monthly">
            Monthly
        </a>

         <a class="item" data-tab="weekly">
            Weekly
        </a>
         <a class="item" data-tab="daily">
            Daily
        </a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="monthly">
        {% include "partials/monthly.html" %}
    </div>
      <div class="ui bottom attached tab segment" data-tab="weekly">
        {% include "partials/weekly.html" %}
    </div>
      <div class="ui bottom attached tab segment" data-tab="daily">
          <div class="ui header">
              Daily Calendar
          </div>
          <div class="red label">
              Demo Day! <i class="purple ui flag icon"></i>
          </div>
    </div>

</div>
{% endblock %}
