<div class="ui equal width grid">
    <div class="column">
        <div class="ui left aligned basic segment">
            <a class="ui icon button">
                <i class="left angle icon"></i>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="ui center aligned basic segment">
            <div class="ui huge header">
                December
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui right aligned basic segment">
            <a class="ui icon button">
                <i class="right angle icon"></i>
            </a>
        </div>
    </div>
</div>
<div class="ui equal width celled grid">
    <div class="row">
        <div class="column">
            <div class="ui header">
                Friday
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                Saturday
            </div>
        </div>
         <div class="column">
            <div class="ui header">
                Sunday
            </div>
        </div>
         <div class="column">
            <div class="ui header">
                Monday
            </div>
        </div>
         <div class="column">
            <div class="ui header">
                Tuesday
            </div>
        </div>
         <div class="column">
            <div class="ui header">
                Wednesday
            </div>
        </div>
         <div class="column">
            <div class="ui header">
                Thursday
            </div>
        </div>
    </div>
</div>
<div class="ui equal width celled grid">
    <div class="row">
        <div class="column">
            <div class="ui header">
                1
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                2
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                3
            </div>
            <div class="red label">
                Carrie's Birthday Party!
                <i class="pink birthday icon"></i>
            </div>

        </div>
        <div class="column">
            <div class="ui header">
                4
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                5
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                6
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                7
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui header">
                8
            </div>
            <div class="red label">
                Doctors Apt. <i class="red doctor icon"></i>
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                9
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                10
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                11
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                12
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                13
            </div>
            <div class="red label">
                Go shopping! Treat yourself girl
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                14
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui header">
                15
            </div>
            <div class="red label">
                Prep for Convention <i class="blue hand spock icon"></i>
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                16
            </div>
            <div class="blue section">

            </div>
        </div>
        <div class="column">
            <div class="ui header">
                17
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                18
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                19
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                20
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                21
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui header">
                22
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                23
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                24
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                25
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                26
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                27
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                28
            </div>
            <div class="red label">
                Time to relax :) you are starting that new job in 3 days!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="ui header">
                29
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                30
            </div>
        </div>
        <div class="column">
            <div class="ui header">
                31
            </div>
        </div>
        <div class="column">
            <div class="ui disabled header">
                1
            </div>
        </div>
        <div class="column">
            <div class="ui disabled header">
                2
            </div>
            <div class="red label">
                New job today! Make dat <i class="green ui dollar icon"></i>
            </div>
        </div>
        <div class="column">
            <div class="ui disabled header">
                3
            </div>
        </div>
        <div class="column">
            <div class="ui disabled header">
                4
            </div>
        </div>
    </div>
</div>

<div class="ui center aligned basic segment">
    <div class="ui horizontal buttons">
        <a class="ui blue button" href="{{ url_for("add_event")}}">
            Add Event
        </a>
        <a class="ui green button" href="{{ url_for("add_note") }}">
            Add Note
        </a>
    </div>
</div>