<div class="ui equal width grid">
    <div class="column">
        <div class="ui left aligned basic segment">
            <a class="ui icon button">
                <i class="left angle icon"></i>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="ui center aligned basic segment">
            <div class="ui huge header">
                Week 49
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui right aligned basic segment">
            <a class="ui icon button">
                <i class="right angle icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="ui divided list">
    <div class="item">
        <div class="ui header">
            3
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            4
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            5
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            6
        </div>
        <div class="red label">
            Go shopping
        </div>
         <ul style="...">
             <li>Bananas</li>
             <li>Shampoo</li>
             <li>Popcorn</li>
         </ul>
    </div>
    <div class="item">
        <div class="ui header">
            7
        </div>
        <div class="red label">
            Doctors Apt.
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            8
        </div>
        <div class="red label">
            Movie night! <i class="ui cocktail icon"></i>
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            9
        </div>
    </div>
</div>