<div class="ui equal width grid">
    <div class="column">
        <div class="ui left aligned basic segment">
            <a class="ui icon button">
                <i class="left angle icon"></i>
            </a>
        </div>
    </div>
    <div class="column">
        <div class="ui center aligned basic segment">
            <div class="ui huge header">
                Week 43
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui right aligned basic segment">
            <a class="ui icon button">
                <i class="right angle icon"></i>
            </a>
        </div>
    </div>
</div>

<div class="ui divided list">
    <div class="item">
        <div class="ui header">
            22
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            23
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            24
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            25
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            26
        </div>
    </div>
    <div class="item">
        <div class="ui header">
            27
        </div>
        <ul style="list-style: none">
            <li>Stranger Things Premier</li>
        </ul>
    </div>
    <div class="item">
        <div class="ui header">
            28
        </div>
    </div>
</div>